/*CSS declaration indicates that the map container <div> (named map-canvas) should take up 100% of the height of the HTML body. Note that we must specifically declare those percentages for <body> and <html> as well.*/
html, body {
        height: 100%;
        margin: 0px;
        padding: 0px
      }

#map-canvas{
    position: absolute;
    background-color: lightgrey;
    top :70px;
    width: 400px;
    height: 350px;
    border :solid 2px black;
    left : 300px;
    padding: 3px;
    border-radius:8px;
}

#table{
    position:absolute;
    top: 70px;
    left: 730px;
}